certifi==2025.10.5
charset-normalizer==3.4.3
colorama==0.4.6
espn_api==0.45.1
idna==3.10
iniconfig==2.1.0
packaging==25.0
pluggy==1.6.0
Pygments==2.19.2
pytest==8.4.2
requests==2.32.5
requests-mock==1.12.1
setuptools==80.9.0
urllib3==2.2.3
